@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --text: 0 0% 0%;
    --primary: 248 39% 39%;
    --secondary: 248 53% 58%;
    --highlight: 271 76% 53%;

    font-family: "Inter";
  }
}