.customCheckbox {
  .checkboxContainer {
    .checkboxRoot {
      background-color: blue;
      .checkboxIconContainer {
        color: red;
      }
    }
    .checkboxLabel {
      color: red;
    }
  }
}
